---
import ArticleLayout from '../layouts/ArticleLayout.astro';
import { ArrowLeft,} from 'react-feather';

export async function getStaticPaths() {
    const articles = await Astro.glob('./posts/*.{md,mdx}')

    return articles.map(article => ({
        params: {
            article:article.frontmatter.slug
        },
        props: {
            article
        }
    }))
}

const {Content, frontmatter} = Astro.props.article
---

<ArticleLayout title={frontmatter.title}>
    
    <img src={frontmatter.hero}/>
    
    <strong>By {frontmatter.author}</strong>
    <p>📆 Posted on {frontmatter.date}</p>
    <h1>{frontmatter.title}</h1>
    <Content/>
</ArticleLayout>